html {
    scroll-behavior: smooth;
    background-color: black;
}
.card {
    background: #222;
    border: 1px solid #65CAC9;
    color: rgba(250, 250, 250, 0.8);
  }

@import url('https://fonts.googleapis.com/css?family=Eczar:400,700|Gentium+Basic');
a {
    text-decoration: none;
    color: #FFF;
  }
  
  a:hover {
    color: lightblue;
  }
  #bgread{
      background:url(pic/readbg.jpg)
  }
  #engstudy{
      background:url(pic/studybg.jpg);
  }
  #englearn{
    background:url(pic/learningbgpic.jpg);
}
#bgenglish{
    background:url(pic/englishbgpic.jpg);
}
.footer {
  background: #152f4f;
  color: white;
  margin-top:-48px;
}
.footer .links ul {
  list-style-type: none;
}
.footer .links li a {
  color: white;
  transition: color 0.2s;
}
.footer .links li a:hover {
  text-decoration: none;
  color: #4180cb;
}
.footer .about a {
  color: white;
  transition: color 0.2s;
}
.footer .about a:hover {
  color: #4180cb;
}
